In [262]:
import pandas as pd
import yfinance as yf
import numpy as np

sp500 = yf.download('^GSPC', start='2010-01-01', end='2025-01-01')
vix = yf.download('^VIX', start='2010-01-01', end='2025-01-01')

df = pd.concat([sp500, vix], axis=1)

C:\Users\leogo\AppData\Local\Temp\ipykernel_26768\1060014968.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  sp500 = yf.download('^GSPC', start='2010-01-01', end='2025-01-01')
[*********************100%***********************]  1 of 1 completed
C:\Users\leogo\AppData\Local\Temp\ipykernel_26768\1060014968.py:6: FutureWarning: YF.download() has changed argument auto_adjust default to True
  vix = yf.download('^VIX', start='2010-01-01', end='2025-01-01')
[*********************100%***********************]  1 of 1 completed

In [233]:
df.head()

Price,Close,High,Low,Open,Volume,Close,High,Low,Open,Volume
Ticker,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC,^VIX,^VIX,^VIX,^VIX,^VIX
Date,,,,,,,,,,
2010-01-04,1132.989990,1133.869995,1116.560059,1116.560059,3991400000,20.040001,21.680000,20.030001,21.680000,0
2010-01-05,1136.520020,1136.630005,1129.660034,1132.660034,2491020000,19.350000,20.129999,19.340000,20.049999,0
2010-01-06,1137.140015,1139.189941,1133.949951,1135.709961,4972660000,19.160000,19.680000,18.770000,19.590000,0
2010-01-07,1141.689941,1142.459961,1131.319946,1136.270020,5270680000,19.059999,19.709999,18.700001,19.680000,0
2010-01-08,1144.979980,1145.390015,1136.219971,1140.520020,4389590000,18.129999,19.270000,18.110001,19.270000,0

In [234]:
df = df.rename(columns=({'^GSPC': 'SP500','^VIX': 'VIX'}))
#df = df.drop(['High', 'Low', 'Volume'], axis=1, level=0)
df.columns = [f"{col[1]}_{col[0]}" for col in df.columns]

df.head()

,SP500_Close,SP500_High,SP500_Low,SP500_Open,SP500_Volume,VIX_Close,VIX_High,VIX_Low,VIX_Open,VIX_Volume
Date,,,,,,,,,,
2010-01-04,1132.989990,1133.869995,1116.560059,1116.560059,3991400000,20.040001,21.680000,20.030001,21.680000,0
2010-01-05,1136.520020,1136.630005,1129.660034,1132.660034,2491020000,19.350000,20.129999,19.340000,20.049999,0
2010-01-06,1137.140015,1139.189941,1133.949951,1135.709961,4972660000,19.160000,19.680000,18.770000,19.590000,0
2010-01-07,1141.689941,1142.459961,1131.319946,1136.270020,5270680000,19.059999,19.709999,18.700001,19.680000,0
2010-01-08,1144.979980,1145.390015,1136.219971,1140.520020,4389590000,18.129999,19.270000,18.110001,19.270000,0

In [235]:
# Calculate returns
close = df['SP500_Close']

df['daily_return'] = close.pct_change()
df['log_daily_return'] = np.log(close /close.shift(1))
df['5d_return'] = close.pct_change(5)
df['20d_return'] = close.pct_change(20)

df.head(30)

,SP500_Close,SP500_High,SP500_Low,SP500_Open,SP500_Volume,VIX_Close,VIX_High,VIX_Low,VIX_Open,VIX_Volume,daily_return,log_daily_return,5d_return,20d_return
Date,,,,,,,,,,,,,,
2010-01-04,1132.989990,1133.869995,1116.560059,1116.560059,3991400000,20.040001,21.680000,20.030001,21.680000,0,NaN,NaN,NaN,NaN
2010-01-05,1136.520020,1136.630005,1129.660034,1132.660034,2491020000,19.350000,20.129999,19.340000,20.049999,0,0.003116,0.003111,NaN,NaN
2010-01-06,1137.140015,1139.189941,1133.949951,1135.709961,4972660000,19.160000,19.680000,18.770000,19.590000,0,0.000546,0.000545,NaN,NaN
2010-01-07,1141.689941,1142.459961,1131.319946,1136.270020,5270680000,19.059999,19.709999,18.700001,19.680000,0,0.004001,0.003993,NaN,NaN
2010-01-08,1144.979980,1145.390015,1136.219971,1140.520020,4389590000,18.129999,19.270000,18.110001,19.270000,0,0.002882,0.002878,NaN,NaN
2010-01-11,1146.979980,1149.739990,1142.020020,1145.959961,4255780000,17.549999,17.740000,16.860001,16.930000,0,0.001747,0.001745,0.012348,NaN
2010-01-12,1136.219971,1143.810059,1131.770020,1143.810059,4716160000,18.250000,19.459999,17.950001,17.950001,0,-0.009381,-0.009425,-0.000264,NaN
2010-01-13,1145.680054,1148.400024,1133.180054,1137.310059,4170360000,17.850000,18.719999,17.559999,17.940001,0,0.008326,0.008291,0.007510,NaN
2010-01-14,1148.459961,1150.410034,1143.800049,1145.680054,3915200000,17.629999,18.270000,17.379999,18.160000,0,0.002426,0.002423,0.005930,NaN
2010-01-15,1136.030029,1147.770020,1131.390015,1147.719971,4758730000,17.910000,19.020000,17.629999,17.629999,0,-0.010823,-0.010882,-0.007817,NaN
2010-01-19,1150.229980,1150.449951,1135.770020,1136.030029,4724830000,17.580000,18.850000,17.330000,18.629999,0,0.012500,0.012422,0.002834,NaN
2010-01-20,1138.040039,1147.949951,1129.250000,1147.949951,4810560000,18.680000,19.690001,18.440001,18.510000,0,-0.010598,-0.010654,0.001602,NaN
2010-01-21,1116.479980,1141.579956,1114.839966,1138.680054,6874290000,22.270000,22.299999,18.270000,18.590000,0,-0.018945,-0.019127,-0.025487,NaN
2010-01-22,1091.760010,1115.489990,1090.180054,1115.489990,6208650000,27.309999,28.010000,22.270000,22.270000,0,-0.022141,-0.022390,-0.049370,NaN
2010-01-25,1096.780029,1102.969971,1092.400024,1092.400024,4481390000,25.410000,27.320000,24.610001,27.320000,0,0.004598,0.004588,-0.034550,NaN
2010-01-26,1092.170044,1103.689941,1089.859985,1095.800049,4731910000,24.549999,26.219999,22.770000,26.030001,0,-0.004203,-0.004212,-0.050477,NaN
2010-01-27,1097.500000,1099.510010,1083.109985,1091.939941,5319120000,23.139999,25.690001,23.139999,24.809999,0,0.004880,0.004868,-0.035623,NaN
2010-01-28,1084.530029,1100.219971,1078.459961,1096.930054,5452400000,23.730000,25.299999,22.690001,22.790001,0,-0.011818,-0.011888,-0.028617,NaN
2010-01-29,1073.869995,1096.449951,1071.589966,1087.609985,5412850000,24.620001,25.030001,22.110001,23.730000,0,-0.009829,-0.009878,-0.016386,NaN
2010-02-01,1089.189941,1089.380005,1073.890015,1073.890015,4077610000,22.590000,24.330000,22.580000,24.330000,0,0.014266,0.014165,-0.006920,NaN
2010-02-02,1103.319946,1104.729980,1087.959961,1090.050049,4749540000,21.480000,22.990000,21.080000,22.590000,0,0.012973,0.012890,0.010209,-0.026187
2010-02-03,1097.280029,1102.719971,1093.969971,1100.670044,4285450000,21.600000,22.110001,21.330000,22.110001,0,-0.005474,-0.005489,-0.000200,-0.034526
2010-02-04,1063.109985,1097.250000,1062.780029,1097.250000,5859690000,26.080000,26.320000,22.629999,22.629999,0,-0.031141,-0.031636,-0.019751,-0.065102
2010-02-05,1066.189941,1067.130005,1044.500000,1064.119995,6438900000,26.110001,29.219999,25.370001,25.690001,0,0.002897,0.002893,-0.007152,-0.066130
2010-02-08,1056.739990,1071.199951,1056.510010,1065.510010,4089820000,26.510000,27.110001,25.480000,26.110001,0,-0.008863,-0.008903,-0.029793,-0.077067
2010-02-09,1070.520020,1079.280029,1060.060059,1060.060059,5114260000,26.000000,26.559999,24.780001,26.510000,0,0.013040,0.012956,-0.029728,-0.066662
2010-02-10,1068.130005,1073.670044,1059.339966,1069.680054,4251450000,25.400000,26.770000,24.799999,26.360001,0,-0.002233,-0.002235,-0.026566,-0.059927
2010-02-11,1078.469971,1080.040039,1060.589966,1067.099976,4400870000,23.959999,26.110001,23.870001,25.820000,0,0.009680,0.009634,0.014448,-0.058664
2010-02-12,1075.510010,1077.810059,1062.969971,1075.949951,4160680000,22.730000,25.540001,22.730000,23.959999,0,-0.002745,-0.002748,0.008741,-0.063520
2010-02-16,1094.869995,1095.670044,1079.130005,1079.130005,4080770000,22.250000,23.570000,22.129999,23.510000,0,0.018001,0.017841,0.036083,-0.036231

In [236]:
#calulate volatility
dpy = 252  # trading days per year
df['5d_volatility'] = df['log_daily_return'].rolling(window=5).std()
df['20d_volatility'] = df['log_daily_return'].rolling(window=20).std()
df['60d_volatility'] = df['log_daily_return'].rolling(window=60).std()
df['vol_of_vol_20d'] = df['20d_volatility'].rolling(window=20).std()

df['realized_quarticity_20d'] = df['log_daily_return'].rolling(20).apply(lambda x: np.mean(x**4))
df['realized_skew_20d'] = df['log_daily_return'].rolling(20).skew()
df['realized_kurtosis_20d'] = df['log_daily_return'].rolling(20).kurt()

ret_mean_20d = df['log_daily_return'].rolling(20).mean()
df['return_Zscore_20d'] = (df['log_daily_return'] - ret_mean_20d) / df['20d_volatility']

df.head(30)

,SP500_Close,SP500_High,SP500_Low,SP500_Open,SP500_Volume,VIX_Close,VIX_High,VIX_Low,VIX_Open,VIX_Volume,...,5d_return,20d_return,5d_volatility,20d_volatility,60d_volatility,vol_of_vol_20d,realized_quarticity_20d,realized_skew_20d,realized_kurtosis_20d,return_Zscore_20d
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,1132.989990,1133.869995,1116.560059,1116.560059,3991400000,20.040001,21.680000,20.030001,21.680000,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-05,1136.520020,1136.630005,1129.660034,1132.660034,2491020000,19.350000,20.129999,19.340000,20.049999,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-06,1137.140015,1139.189941,1133.949951,1135.709961,4972660000,19.160000,19.680000,18.770000,19.590000,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-07,1141.689941,1142.459961,1131.319946,1136.270020,5270680000,19.059999,19.709999,18.700001,19.680000,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-08,1144.979980,1145.390015,1136.219971,1140.520020,4389590000,18.129999,19.270000,18.110001,19.270000,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-11,1146.979980,1149.739990,1142.020020,1145.959961,4255780000,17.549999,17.740000,16.860001,16.930000,0,...,0.012348,NaN,0.001335,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-12,1136.219971,1143.810059,1131.770020,1143.810059,4716160000,18.250000,19.459999,17.950001,17.950001,0,...,-0.000264,NaN,0.005394,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-13,1145.680054,1148.400024,1133.180054,1137.310059,4170360000,17.850000,18.719999,17.559999,17.940001,0,...,0.007510,NaN,0.006589,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-14,1148.459961,1150.410034,1143.800049,1145.680054,3915200000,17.629999,18.270000,17.379999,18.160000,0,...,0.005930,NaN,0.006477,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-15,1136.030029,1147.770020,1131.390015,1147.719971,4758730000,17.910000,19.020000,17.629999,17.629999,0,...,-0.007817,NaN,0.008255,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-19,1150.229980,1150.449951,1135.770020,1136.030029,4724830000,17.580000,18.850000,17.330000,18.629999,0,...,0.002834,NaN,0.010423,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-20,1138.040039,1147.949951,1129.250000,1147.949951,4810560000,18.680000,19.690001,18.440001,18.510000,0,...,0.001602,NaN,0.010728,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-21,1116.479980,1141.579956,1114.839966,1138.680054,6874290000,22.270000,22.299999,18.270000,18.590000,0,...,-0.025487,NaN,0.012496,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-22,1091.760010,1115.489990,1090.180054,1115.489990,6208650000,27.309999,28.010000,22.270000,22.270000,0,...,-0.049370,NaN,0.013608,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-25,1096.780029,1102.969971,1092.400024,1092.400024,4481390000,25.410000,27.320000,24.610001,27.320000,0,...,-0.034550,NaN,0.015073,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-26,1092.170044,1103.689941,1089.859985,1095.800049,4731910000,24.549999,26.219999,22.770000,26.030001,0,...,-0.050477,NaN,0.010987,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-27,1097.500000,1099.510010,1083.109985,1091.939941,5319120000,23.139999,25.690001,23.139999,24.809999,0,...,-0.035623,NaN,0.012908,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-28,1084.530029,1100.219971,1078.459961,1096.930054,5452400000,23.730000,25.299999,22.690001,22.790001,0,...,-0.028617,NaN,0.011581,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-29,1073.869995,1096.449951,1071.589966,1087.609985,5412850000,24.620001,25.030001,22.110001,23.730000,0,...,-0.016386,NaN,0.007855,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-02-01,1089.189941,1089.380005,1073.890015,1073.890015,4077610000,22.590000,24.330000,22.580000,24.330000,0,...,-0.006920,NaN,0.010855,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-02-02,1103.319946,1104.729980,1087.959961,1090.050049,4749540000,21.480000,22.990000,21.080000,22.590000,0,...,0.010209,-0.026187,0.012337,0.010481,NaN,NaN,2.738064e-08,-0.411508,-0.650400,1.356430
2010-02-03,1097.280029,1102.719971,1093.969971,1100.670044,4285450000,21.600000,22.110001,21.330000,22.110001,0,...,-0.000200,-0.034526,0.012608,0.010465,NaN,NaN,2.742136e-08,-0.284403,-0.705715,-0.356651
2010-02-04,1063.109985,1097.250000,1062.780029,1097.250000,5859690000,26.080000,26.320000,22.629999,22.629999,0,...,-0.019751,-0.065102,0.018813,0.012390,NaN,NaN,7.750413e-08,-0.556485,-0.150011,-2.281700
2010-02-05,1066.189941,1067.130005,1044.500000,1064.119995,6438900000,26.110001,29.219999,25.370001,25.690001,0,...,-0.007152,-0.066130,0.018680,0.012358,NaN,NaN,7.749492e-08,-0.550731,-0.131385,0.510916
2010-02-08,1056.739990,1071.199951,1056.510010,1065.510010,4089820000,26.510000,27.110001,25.480000,26.110001,0,...,-0.029793,-0.077067,0.016596,0.012323,NaN,NaN,7.780559e-08,-0.408976,-0.209676,-0.397067
2010-02-09,1070.520020,1079.280029,1060.060059,1060.060059,5114260000,26.000000,26.559999,24.780001,26.510000,0,...,-0.029728,-0.066662,0.016615,0.012842,NaN,NaN,7.921388e-08,-0.377332,-0.433877,1.277452
2010-02-10,1068.130005,1073.670044,1059.339966,1069.680054,4251450000,25.400000,26.770000,24.799999,26.360001,0,...,-0.026566,-0.059927,0.016706,0.012766,NaN,NaN,7.882050e-08,-0.471930,-0.303910,0.066957
2010-02-11,1078.469971,1080.040039,1060.589966,1067.099976,4400870000,23.959999,26.110001,23.870001,25.820000,0,...,0.014448,-0.058664,0.008834,0.012833,NaN,NaN,7.901489e-08,-0.465878,-0.333363,0.986271
2010-02-12,1075.510010,1077.810059,1062.969971,1075.949951,4160680000,22.730000,25.540001,22.730000,23.959999,0,...,0.008741,-0.063520,0.009183,0.012769,NaN,NaN,7.901602e-08,-0.409894,-0.315828,0.041739
2010-02-16,1094.869995,1095.670044,1079.130005,1079.130005,4080770000,22.250000,23.570000,22.129999,23.510000,0,...,0.036083,-0.036231,0.009222,0.013466,NaN,NaN,8.338024e-08,-0.470243,-0.348707,1.461935

In [237]:
# Moving averages and trend

df['MA_20'] = close.rolling(window=20).mean()
df['MA_50'] = close.rolling(window=50).mean()
df['MA_200'] = close.rolling(window=200).mean()

def rolling_slope(series, window):
    return series.rolling(window).apply(lambda x: np.polyfit(range(window), x, 1)[0], raw=False)

df['slope_MA_20'] = rolling_slope(df['MA_20'], 20)
df['slope_MA_50'] = rolling_slope(df['MA_50'], 50)
df['slope_MA_200'] = rolling_slope(df['MA_200'], 200)

df['price_MA_20'] = close/df['MA_20']
df['price_MA_50'] = close/df['MA_50']
df['price_MA_200'] = close/df['MA_200']

df[['slope_MA_20','slope_MA_50']][100:150]

            slope_MA_20  slope_MA_50
Date
2010-05-27    -3.661858     1.463450
2010-05-28    -3.976258     1.418457
2010-06-01    -4.262825     1.365758
2010-06-02    -4.494522     1.306659
2010-06-03    -4.658770     1.241401
2010-06-04    -4.785168     1.168280
2010-06-07    -4.891194     1.087379
2010-06-08    -4.968340     0.999056
2010-06-09    -5.017473     0.903133
2010-06-10    -5.021281     0.801958
2010-06-11    -4.974794     0.695288
2010-06-14    -4.864755     0.583832
2010-06-15    -4.677821     0.470115
2010-06-16    -4.426189     0.355597
2010-06-17    -4.114328     0.240418
2010-06-18    -3.753519     0.125173
2010-06-21    -3.366186     0.009726
2010-06-22    -2.973697    -0.105783
2010-06-23    -2.568020    -0.220576
2010-06-24    -2.178358    -0.335800
2010-06-25    -1.821765    -0.451506
2010-06-28    -1.490790    -0.567070
2010-06-29    -1.229138    -0.681970
2010-06-30    -1.027298    -0.796275
2010-07-01    -0.881786    -0.909071
2010-07-02    -0.768166    -1.020625
2010-07-06    -0.671547    -1.129922
2010-07-07    -0.609479    -1.235313
2010-07-08    -0.579417    -1.335689
2010-07-09    -0.594667    -1.431196
2010-07-12    -0.648784    -1.521591
2010-07-13    -0.716873    -1.606034
2010-07-14    -0.802015    -1.684293
2010-07-15    -0.890703    -1.755920
2010-07-16    -0.999965    -1.821487
2010-07-19    -1.086909    -1.880955
2010-07-20    -1.148901    -1.933517
2010-07-21    -1.181972    -1.979741
2010-07-22    -1.165906    -2.018771
2010-07-23    -1.089629    -2.050084
2010-07-26    -0.973554    -2.072916
2010-07-27    -0.812758    -2.087413
2010-07-28    -0.604560    -2.094638
2010-07-29    -0.381977    -2.094773
2010-07-30    -0.159135    -2.087920
2010-08-02     0.099639    -2.073295
2010-08-03     0.391331    -2.051594
2010-08-04     0.705470    -2.022698
2010-08-05     1.041601    -1.986946
2010-08-06     1.369652    -1.945232

In [238]:
# Drawdown and autocorrelation

df['rolling_max'] = close.rolling(252).max()   # 1-year rolling peak
df['current_drawdown'] = (close - df['rolling_max']) / df['rolling_max']
df['max_drawdown_252d'] = df['current_drawdown'].rolling(252).min()

MAR_annual = 0.042  # Minimum Acceptable Return (T-Bill)
MAR_daily = (1 + MAR_annual)**(1/dpy) - 1
df['downside_dev_20d'] = np.sqrt(((np.minimum(df['daily_return'] - MAR_daily, 0))**2).rolling(window=20).mean())

df['autocorr_1d'] = df['log_daily_return'].rolling(50).apply(lambda x: x.autocorr(1))
df['autocorr_5d'] = df['log_daily_return'].rolling(100).apply(lambda x: x.autocorr(5))
df['autocorr_20d'] = df['log_daily_return'].rolling(200).apply(lambda x: x.autocorr(20))
# almost no autocorrelation after 1 day

# we may wanna try to recalculate autocorrelation after splitting data per regime

In [239]:
# VIX related features
df['dVIX_1d'] = np.log(df['VIX_Close']).diff()
df['dVIX_5d'] = df['dVIX_1d'].rolling(window=5).sum()

df['VIX_Zscore_20d'] = (df['dVIX_1d'] - df['dVIX_1d'].rolling(window=20).mean())/df['dVIX_1d'].rolling(window=20).std()
df['VIX_vol_20d'] = df['dVIX_1d'].rolling(20).std()

# Volatility Risk Premium Proxy (VRP = VIX^2 - Realized Volatility^2)
df['realized_vol_20d_ann'] = df['20d_volatility'] * np.sqrt(dpy)
df['VRP_Proxy'] = (df['VIX_Close']/100)**2 - df['realized_vol_20d_ann']**2 # VIX is in percentage points

df[['VIX_Close','dVIX_1d']]

            VIX_Close   dVIX_1d
Date
2010-01-04  20.040001       NaN
2010-01-05  19.350000 -0.035038
2010-01-06  19.160000 -0.009868
2010-01-07  19.059999 -0.005233
2010-01-08  18.129999 -0.050024
...               ...       ...
2024-12-24  14.270000 -0.162028
2024-12-26  14.730000  0.031727
2024-12-27  15.950000  0.079573
2024-12-30  17.400000  0.087011
2024-12-31  17.350000 -0.002878

[3774 rows x 2 columns]

In [240]:
# Interactions

df['corr_ret_dVIX_20d'] = df['log_daily_return'].rolling(window=20).corr(df['dVIX_1d']) #not sure of rolling window size for vix (i tried 5d)
df['ret_x_VIX'] = df['log_daily_return'] * df['dVIX_1d']
df['vol_x_VIX'] = df['20d_volatility'] * df['dVIX_1d']
df['vol_ratio'] = df['realized_vol_20d_ann'] / (df['VIX_Close']/100)
df['VIX_Zscore_X_DD'] = df['VIX_Zscore_20d'] * df['current_drawdown']

In [241]:
#rsi indicator
delta = close.diff()
gain = (delta.where(delta > 0, 0)).rolling(window=20).mean()
loss = (-delta.where(delta < 0, 0)).rolling(window=20).mean()
rs = gain / loss
df['RSI_20'] = 100 - (100 / (1 + rs))

# use of adf and kpss tests to create stationarity features
from statsmodels.tsa.stattools import adfuller, kpss
def adf_test(series):
    result = adfuller(series.dropna())
    return result[1]  # return p-value
def kpss_test(series):
    result = kpss(series.dropna(), nlags="auto")
    return result[1]  # return p-value
df['adf_log_return_pvalue'] = df['log_daily_return'].rolling(window=252).apply(adf_test, raw=False)
df['kpss_log_return_pvalue'] = df['log_daily_return'].rolling(window=252).apply(kpss_test, raw=False)

# RESULT: enough stationarity to allow for the use of the hurst exponent

In [259]:
#create hurst exponent feature
from hurst import compute_Hc

def hurst_exponent(series, window):
    def hurst_calc(x):
        H, c, data = compute_Hc(x, kind='change', simplified=True)
        return H
    return series.rolling(window=window).apply(hurst_calc, raw=False)

df['hurst_100d'] = hurst_exponent(df['log_daily_return'], 100)

# create ADX feature
def calculate_adx(data, window=14):
    high = data['SP500_High']
    low = data['SP500_Low']
    close = data['SP500_Close']
    plus_dm = high.diff().where((high.diff() > low.diff()) & (high.diff() > 0), 0)
    minus_dm = low.diff().where((low.diff() > high.diff()) & (low.diff() > 0), 0)
    tr1 = high - low
    tr2 = (high - close.shift()).abs()
    tr3 = (low - close.shift()).abs()
    tr = pd.concat([tr1, tr2, tr3], axis=1).max(axis=1)
    atr = tr.rolling(window=window).mean()
    plus_di = 100 * (plus_dm.rolling(window=window).mean() / atr)
    minus_di = 100 * (minus_dm.rolling(window=window).mean() / atr)
    dx = (abs(plus_di - minus_di) / (plus_di + minus_di)) * 100
    adx = dx.rolling(window=window).mean()
    return adx

Date
2011-01-11    0.854075
2018-01-09    0.873119
2018-01-10    0.907519
2018-01-11    0.901907
2018-01-12    0.908243
2018-01-16    0.879847
2018-01-17    0.891469
2018-01-18    0.864015
2018-01-19    0.870324
2018-01-22    0.874358
2018-01-23    0.877239
2018-01-24    0.878378
2018-01-25    0.873948
2018-01-26    0.873393
2018-01-29    0.872434
2018-01-31    0.857254
2018-02-01    0.859515
2024-03-05    0.855172
2024-03-06    0.872968
2024-03-14    0.870844
2024-03-15    0.882941
2024-03-18    0.873583
2024-03-19    0.912659
2024-03-20    0.945212
2024-03-21    0.928620
2024-03-22    0.924170
2024-03-25    0.902351
2024-03-26    0.870419
2024-03-27    0.864201
2024-03-28    0.868250
2024-04-01    0.864508
2024-04-02    0.867324
2024-04-03    0.890853
2024-04-04    0.886276
2024-04-05    0.865041
Name: hurst_100d, dtype: float64

In [ ]:
df['ADX_14'] = calculate_adx(df, window=14)