In [46]:
import pandas as pd
import yfinance as yf
import numpy as np

sp500 = yf.download('^GSPC', start='2010-01-01', end='2025-01-01')
vix = yf.download('^VIX', start='2010-01-01', end='2025-01-01')

df = pd.concat([sp500, vix], axis=1)

C:\Users\leogo\AppData\Local\Temp\ipykernel_26768\1060014968.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  sp500 = yf.download('^GSPC', start='2010-01-01', end='2025-01-01')
[*********************100%***********************]  1 of 1 completed
C:\Users\leogo\AppData\Local\Temp\ipykernel_26768\1060014968.py:6: FutureWarning: YF.download() has changed argument auto_adjust default to True
  vix = yf.download('^VIX', start='2010-01-01', end='2025-01-01')
[*********************100%***********************]  1 of 1 completed

In [47]:
df.head()

Price,Close,High,Low,Open,Volume,Close,High,Low,Open,Volume
Ticker,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC,^VIX,^VIX,^VIX,^VIX,^VIX
Date,,,,,,,,,,
2010-01-04,1132.989990,1133.869995,1116.560059,1116.560059,3991400000,20.040001,21.680000,20.030001,21.680000,0
2010-01-05,1136.520020,1136.630005,1129.660034,1132.660034,2491020000,19.350000,20.129999,19.340000,20.049999,0
2010-01-06,1137.140015,1139.189941,1133.949951,1135.709961,4972660000,19.160000,19.680000,18.770000,19.590000,0
2010-01-07,1141.689941,1142.459961,1131.319946,1136.270020,5270680000,19.059999,19.709999,18.700001,19.680000,0
2010-01-08,1144.979980,1145.390015,1136.219971,1140.520020,4389590000,18.129999,19.270000,18.110001,19.270000,0

In [48]:
df = df.rename(columns=({'^GSPC': 'SP500','^VIX': 'VIX'}))
df = df.drop(['High', 'Low', 'Volume'], axis=1, level=0)
df.columns = [f"{col[1]}_{col[0]}" for col in df.columns]

df.head()

            SP500_Close   SP500_Open  VIX_Close   VIX_Open
Date
2010-01-04  1132.989990  1116.560059  20.040001  21.680000
2010-01-05  1136.520020  1132.660034  19.350000  20.049999
2010-01-06  1137.140015  1135.709961  19.160000  19.590000
2010-01-07  1141.689941  1136.270020  19.059999  19.680000
2010-01-08  1144.979980  1140.520020  18.129999  19.270000

In [50]:
# Calculate returns
close = df['SP500_Close']

df['daily_return'] = close.pct_change()
df['log_daily_return'] = np.log(close /close.shift(1))
df['5d_return'] = close.pct_change(5)
df['20d_return'] = close.pct_change(20)
df.head(30)

,SP500_Close,SP500_Open,VIX_Close,VIX_Open,daily_return,log_daily_return,5d_return,20d_return
Date,,,,,,,,
2010-01-04,1132.989990,1116.560059,20.040001,21.680000,NaN,NaN,NaN,NaN
2010-01-05,1136.520020,1132.660034,19.350000,20.049999,0.003116,0.003111,NaN,NaN
2010-01-06,1137.140015,1135.709961,19.160000,19.590000,0.000546,0.000545,NaN,NaN
2010-01-07,1141.689941,1136.270020,19.059999,19.680000,0.004001,0.003993,NaN,NaN
2010-01-08,1144.979980,1140.520020,18.129999,19.270000,0.002882,0.002878,NaN,NaN
2010-01-11,1146.979980,1145.959961,17.549999,16.930000,0.001747,0.001745,0.012348,NaN
2010-01-12,1136.219971,1143.810059,18.250000,17.950001,-0.009381,-0.009425,-0.000264,NaN
2010-01-13,1145.680054,1137.310059,17.850000,17.940001,0.008326,0.008291,0.007510,NaN
2010-01-14,1148.459961,1145.680054,17.629999,18.160000,0.002426,0.002423,0.005930,NaN
2010-01-15,1136.030029,1147.719971,17.910000,17.629999,-0.010823,-0.010882,-0.007817,NaN
2010-01-19,1150.229980,1136.030029,17.580000,18.629999,0.012500,0.012422,0.002834,NaN
2010-01-20,1138.040039,1147.949951,18.680000,18.510000,-0.010598,-0.010654,0.001602,NaN
2010-01-21,1116.479980,1138.680054,22.270000,18.590000,-0.018945,-0.019127,-0.025487,NaN
2010-01-22,1091.760010,1115.489990,27.309999,22.270000,-0.022141,-0.022390,-0.049370,NaN
2010-01-25,1096.780029,1092.400024,25.410000,27.320000,0.004598,0.004588,-0.034550,NaN
2010-01-26,1092.170044,1095.800049,24.549999,26.030001,-0.004203,-0.004212,-0.050477,NaN
2010-01-27,1097.500000,1091.939941,23.139999,24.809999,0.004880,0.004868,-0.035623,NaN
2010-01-28,1084.530029,1096.930054,23.730000,22.790001,-0.011818,-0.011888,-0.028617,NaN
2010-01-29,1073.869995,1087.609985,24.620001,23.730000,-0.009829,-0.009878,-0.016386,NaN
2010-02-01,1089.189941,1073.890015,22.590000,24.330000,0.014266,0.014165,-0.006920,NaN
2010-02-02,1103.319946,1090.050049,21.480000,22.590000,0.012973,0.012890,0.010209,-0.026187
2010-02-03,1097.280029,1100.670044,21.600000,22.110001,-0.005474,-0.005489,-0.000200,-0.034526
2010-02-04,1063.109985,1097.250000,26.080000,22.629999,-0.031141,-0.031636,-0.019751,-0.065102
2010-02-05,1066.189941,1064.119995,26.110001,25.690001,0.002897,0.002893,-0.007152,-0.066130
2010-02-08,1056.739990,1065.510010,26.510000,26.110001,-0.008863,-0.008903,-0.029793,-0.077067
2010-02-09,1070.520020,1060.060059,26.000000,26.510000,0.013040,0.012956,-0.029728,-0.066662
2010-02-10,1068.130005,1069.680054,25.400000,26.360001,-0.002233,-0.002235,-0.026566,-0.059927
2010-02-11,1078.469971,1067.099976,23.959999,25.820000,0.009680,0.009634,0.014448,-0.058664
2010-02-12,1075.510010,1075.949951,22.730000,23.959999,-0.002745,-0.002748,0.008741,-0.063520
2010-02-16,1094.869995,1079.130005,22.250000,23.510000,0.018001,0.017841,0.036083,-0.036231

In [55]:
#calulate volatility
dpy = 252  # trading days per year
df['5d_volatility'] = df['log_daily_return'].rolling(window=5).std()*np.sqrt(dpy)
df['20d_volatility'] = df['log_daily_return'].rolling(window=20).std()*np.sqrt(dpy)
df['60d_volatility'] = df['log_daily_return'].rolling(window=60).std()*np.sqrt(dpy)
df.head(30)

,SP500_Close,SP500_Open,VIX_Close,VIX_Open,daily_return,log_daily_return,5d_return,20d_return,5d_volatility,20d_volatility,60d_volatility,real_var,real_vol
Date,,,,,,,,,,,,,
2010-01-04,1132.989990,1116.560059,20.040001,21.680000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-05,1136.520020,1132.660034,19.350000,20.049999,0.003116,0.003111,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-06,1137.140015,1135.709961,19.160000,19.590000,0.000546,0.000545,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-07,1141.689941,1136.270020,19.059999,19.680000,0.004001,0.003993,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-08,1144.979980,1140.520020,18.129999,19.270000,0.002882,0.002878,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-11,1146.979980,1145.959961,17.549999,16.930000,0.001747,0.001745,0.012348,NaN,0.021187,NaN,NaN,0.000449,0.021187
2010-01-12,1136.219971,1143.810059,18.250000,17.950001,-0.009381,-0.009425,-0.000264,NaN,0.085632,NaN,NaN,0.007333,0.085632
2010-01-13,1145.680054,1137.310059,17.850000,17.940001,0.008326,0.008291,0.007510,NaN,0.104598,NaN,NaN,0.010941,0.104598
2010-01-14,1148.459961,1145.680054,17.629999,18.160000,0.002426,0.002423,0.005930,NaN,0.102816,NaN,NaN,0.010571,0.102816
2010-01-15,1136.030029,1147.719971,17.910000,17.629999,-0.010823,-0.010882,-0.007817,NaN,0.131051,NaN,NaN,0.017174,0.131051
2010-01-19,1150.229980,1136.030029,17.580000,18.629999,0.012500,0.012422,0.002834,NaN,0.165466,NaN,NaN,0.027379,0.165466
2010-01-20,1138.040039,1147.949951,18.680000,18.510000,-0.010598,-0.010654,0.001602,NaN,0.170301,NaN,NaN,0.029002,0.170301
2010-01-21,1116.479980,1138.680054,22.270000,18.590000,-0.018945,-0.019127,-0.025487,NaN,0.198374,NaN,NaN,0.039352,0.198374
2010-01-22,1091.760010,1115.489990,27.309999,22.270000,-0.022141,-0.022390,-0.049370,NaN,0.216016,NaN,NaN,0.046663,0.216016
2010-01-25,1096.780029,1092.400024,25.410000,27.320000,0.004598,0.004588,-0.034550,NaN,0.239271,NaN,NaN,0.057251,0.239271
2010-01-26,1092.170044,1095.800049,24.549999,26.030001,-0.004203,-0.004212,-0.050477,NaN,0.174418,NaN,NaN,0.030422,0.174418
2010-01-27,1097.500000,1091.939941,23.139999,24.809999,0.004880,0.004868,-0.035623,NaN,0.204910,NaN,NaN,0.041988,0.204910
2010-01-28,1084.530029,1096.930054,23.730000,22.790001,-0.011818,-0.011888,-0.028617,NaN,0.183850,NaN,NaN,0.033801,0.183850
2010-01-29,1073.869995,1087.609985,24.620001,23.730000,-0.009829,-0.009878,-0.016386,NaN,0.124691,NaN,NaN,0.015548,0.124691
2010-02-01,1089.189941,1073.890015,22.590000,24.330000,0.014266,0.014165,-0.006920,NaN,0.172323,NaN,NaN,0.029695,0.172323
2010-02-02,1103.319946,1090.050049,21.480000,22.590000,0.012973,0.012890,0.010209,-0.026187,0.195836,0.166376,NaN,0.038352,0.195836
2010-02-03,1097.280029,1100.670044,21.600000,22.110001,-0.005474,-0.005489,-0.000200,-0.034526,0.200141,0.166134,NaN,0.040057,0.200141
2010-02-04,1063.109985,1097.250000,26.080000,22.629999,-0.031141,-0.031636,-0.019751,-0.065102,0.298650,0.196683,NaN,0.089192,0.298650
2010-02-05,1066.189941,1064.119995,26.110001,25.690001,0.002897,0.002893,-0.007152,-0.066130,0.296541,0.196175,NaN,0.087937,0.296541
2010-02-08,1056.739990,1065.510010,26.510000,26.110001,-0.008863,-0.008903,-0.029793,-0.077067,0.263461,0.195615,NaN,0.069412,0.263461
2010-02-09,1070.520020,1060.060059,26.000000,26.510000,0.013040,0.012956,-0.029728,-0.066662,0.263761,0.203863,NaN,0.069570,0.263761
2010-02-10,1068.130005,1069.680054,25.400000,26.360001,-0.002233,-0.002235,-0.026566,-0.059927,0.265194,0.202661,NaN,0.070328,0.265194
2010-02-11,1078.469971,1067.099976,23.959999,25.820000,0.009680,0.009634,0.014448,-0.058664,0.140230,0.203715,NaN,0.019665,0.140230
2010-02-12,1075.510010,1075.949951,22.730000,23.959999,-0.002745,-0.002748,0.008741,-0.063520,0.145779,0.202705,NaN,0.021251,0.145779
2010-02-16,1094.869995,1079.130005,22.250000,23.510000,0.018001,0.017841,0.036083,-0.036231,0.146400,0.213760,NaN,0.021433,0.146400